body{
    margin:0;
}
.biba{
    position:absolute;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#pp{
    width:25%;
    height:50%;
    padding: 0;
    background-image: url('img/mqdefault.jpg');
}
